Cources08/bin/Debug/Cources08.exe
Cources08/bin/Debug/Cources08.pdb
Cources08/bin/Debug/Cources08.vshost.exe
Cources08/bin/Debug/Cources08.vshost.exe.manifest
Cources08/obj/Debug/Cources08.csproj.FileListAbsolute.txt
Cources08/obj/Debug/Cources08.csprojResolveAssemblyReference.cache
Cources08/obj/Debug/Cources08.exe
Cources08/obj/Debug/Cources08.pdb
Cources08/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
